body{
  width: 100%;


}
form{
  display: block;
}
h1{
  color: blue;
  font-size: 50px;
  font-style: italic;

}
.datee{
  font-size: 30px;
}
.monthe{
  font-size: 30px;
}
.yeare{
  font-size: 30px;
}
.gendere{
  font-size: 35px;
  color: red;
  font-style: italic;
}
.femalee{
  font-size: 30px;

}
.submitee{
  font-size: 50px;
}
p{
  font-size: 20px;
}
.malee{
  font-size: 30px
}
.description{
  width: 50%;
  background-color: #03b1fc;
  margin: auto;
}
.two{
  display: flex;
}
.three{
  display: flex;
}
